body {
    font-family: Arial, sans-serif;
    /*background-color: #e2f0f1;*/
    background-image: linear-gradient(rgba(204, 234, 219, 0.9), rgba(204, 234, 219, 0.9)),url('snoopy_computer.png');
    background-repeat: repeat;
    color: #2f08bb;
    margin: 0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

header h1 {
    color: white; /* Rendre le titre blanc */
    margin: 0; /* Retirer les marges par défaut du h1 */
    font-size: 1.8em;
}


.navigation a {
    color: white;
    text-decoration: none;
    margin-left: 15px; 
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}


.main-content {
    padding: 20px;
    flex-grow: 1; 
}

.btn-accueil{
    background-color: #2f08bb; 
    color: white;
    border: 2px solid #007bff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    height: 40px; 
}

.btn-insc-conn{
    background-color: #2f08bb; 
    color: white;
    border: 2px solid #007bff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.input-group .btn-link {
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem; /*pour que l'icône soit bien aligné*/
}

footer {
    background-color: #7c3fef; 
    color: #eee;
    padding: 10px 20px;
    text-align: center;
    width: 100%; 
    margin-top: auto;
}

footer p {
    margin: 0; 
}