
:root {
    --plateforme-blue: #0077ff; 
    --plateforme-white: #ffffff; 
    --plateforme-dark: #333333; 
}

/* Styles par défaut du corps (avant le Code Konami)  */
body {
    font-family: Arial, sans-serif;
    color: var(--plateforme-dark);
    margin: 0;
    padding: 20px;
    background-color: var(--plateforme-white);
    transition: background-color 0.5s ease, color 0.5s ease;
}

h1 {
    color: var(--plateforme-blue);
    font-size: 2.5em;
    font-weight: 800; /* Très gras */
}

/* Style Appliqué après le Code Konami (la-plateforme-style) */

body.la-plateforme-style {
   
    background-color: var(--plateforme-blue); 
    color: var(--plateforme-white);
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body.la-plateforme-style h1 {
    
    color: var(--plateforme-white); 
   
    font-size: 3em; 
    font-weight: 900; 
    line-height: 1.2;
    margin-bottom: 20px;
}


body.la-plateforme-style a {
    color: var(--plateforme-white);
    text-decoration: underline;
}