body {
            font-family: Arial, sans-serif;
            height: 4096px;
        }
        
h1 {
    color: rgb(11, 108, 76);
    text-align: center;
    margin-top: 100px;
}


#scroll-progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 50px;
    z-index: 1000;
    color: white;
    text-align: center;
    line-height: 50px; 
}
