body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        #button {
            padding: 10px 15px;
            font-size: 16px;
            cursor: pointer;
        }
        .message-article {
            margin-top: 20px;
            padding: 15px;
            border: 1px solid #3498db;
            background-color: #a2c0ac;
            color: #0a4683;
            font-style: italic;
        }