body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

h1 {
    color: #2C009C;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    color: #2C009C;
    margin-bottom: 10px;
}

.instructions {
    background: #FEF600;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #2C009C; 
    margin-bottom: 10px;
    font-size: 16px;
    color:#2C009C;
}

.drop-zones, #draggableContainer { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
/*les zones de reconstrction de l'arc en ciel*/
.drop-zone { 
    width: 100px; 
    border: 1px dashed #2C009C; 
    margin: 0; 
    position: relative; 
    overflow: hidden; 
}

.drop-zone[data-number="1"],
.drop-zone[data-number="2"],
.drop-zone[data-number="3"],
.drop-zone[data-number="4"],
.drop-zone[data-number="5"],
.drop-zone[data-number="6"] {
    height: 260px; 
}

.drop-zone img { 
    width: 100%; 
    height: auto; 
    object-fit: contain; 
}
/*les morceaux d'arc en ciel à déplacer*/
.drop-zone .draggable {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.game-container { 
    margin-bottom: 20px; 
}

.drop-zones, #draggableContainer { 
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
}
.draggable { 
    cursor: grab; 
}
.draggable img { 
    width: 100px; 
    height: auto; 
    object-fit: contain; 
    display: block; 
}
/* le résultat de la reconstruction*/
.result {
    
    min-height: 40px; 
    margin: 20px auto; 
    padding: 15px 20px; 
    border-radius: 10px;
    font-size: 20px; 
    text-align: center;
    transition: all 0.5s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
}

.result.success { 
    color: #007000; 
    background-color: #E6FFE6;
    border: 2px solid #00BC00; 
    font-weight: bold; 
}
.result.error { 
    color: #B30000; 
    background-color: #FFE6E6; 
    border: 2px solid #FE622C; 
    font-weight: bold; 
}


.result.success { 
    color: green; 
    font-weight: bold; 
}
.result.error { 
    color: red; 
    font-weight: bold; 
}
/*les boutons mélanger, vérifier et réinitialiser*/
.controls {
    margin-top: 20px;
    display: flex;
    gap: 15px; 
    justify-content: center;
}


.controls button {
    background-color: #009CFE; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.controls button:hover {
    background-color: #0056b3; 
    transform: translateY(-1px); 
}


.controls button:active {
    background-color: #004085; 
    transform: translateY(0); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#btnVerifier {
    background-color: #00BC00; 
}

#btnVerifier:hover {
    background-color: #1e7e34;
}


#btnReset {
    background-color: #FE622C; 
}

#btnReset:hover {
    background-color: #DE0000;
}