 body { 
    font-family: 'Fraunces', serif;
 }
        .wood-texture {
             background-color: #451a03; background-image: radial-gradient(#78350f 1px, transparent 0); background-size: 20px 20px; 
            }

@keyframes ping-pong {
    0% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    100% { transform: rotate(15deg); }
}
.animate-pendule {
            animation: ping-pong 2s infinite ease-in-out;
        }
/* oiseau caché par défaut dans sa boîte */
#coucou-bird {
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

/*quand il sort, il monte et grossit */
.bird-out {
    transform: translateY(-50px) scale(1.5); 
}
