 body { 
    font-family: 'Fraunces', serif;
 }
        .wood-texture {
             background-color: #451a03; background-image: radial-gradient(#78350f 1px, transparent 0); background-size: 20px 20px; 
            }

@keyframes ping-pong {
    0% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    100% { transform: rotate(15deg); }
}
.animate-pendule {
            animation: ping-pong 2s infinite ease-in-out;
        }

/*animation de l'oiseau*/

/*oiseau dans sa boite par défaut*/
#coucou-bird {
    display: inline-block;
    /* On passe à 1.5s pour que ce soit bien "doux" */
    transition: all 1.5s ease-in-out; 
    position: relative;
    z-index: 50; /* Pour passer devant tout le monde */
}

/*quand il sort, il descend et grossit */
.bird-out {
    
    transform: translateY(120px) scale(2); 
}