/*style pour la maquette*/
        .row > div {
            border: 1px solid #00000020;
            padding: 10px;
            margin-bottom: 10px;
            color: white;
            text-align: center;
        }
        .cyan-block { height: 100px; background-color: #72D7EE; }
        .blue-block-tall { height: 150px; background-color: #92B9F8; }
        .blue-block-short { height: 70px; background-color: #92B9F8; }
        .purple-block-wide { height: 80px; background-color: #BC9BF8; }
        .purple-block-narrow { height: 80px; background-color: #BC9BF8; }
        .orange-block { height: 50px; background-color: #F8B492; }
    