#alternerAffichage {
            background-color: #007bff; 
            color: white; 
            padding: 10px 20px; 
            border: none; 
            border-radius: 15px; 
            cursor: pointer; 
            font-size: 16px;
            transition: background-color 0.3s ease; 
        }

        
        #alternerAffichage:hover {
            background-color: #0056b3; 
        }
        
        /* effet d'enfoncement */
        #alternerAffichage:active {
            background-color: #004085;
            transform: translateY(1px); 
        }

        #resultat {
            display: none; 
            margin-top: 15px;
            padding: 20px; 
            border-left: 5px solid #007bff; 
            background-color: #dee8f3; 
            color: #056321; 
            font-style: italic;
        }
